@media only screen and (max-width: 560px) {
	.links p {
		display: none !important;
	}

	img {
		width: 100% !important;
	}
}

html {
	background-color: #23272A;
}

body {
}

html, body {
	height: 100%;
}

body {
	color: #FFFFFF;
	background: #2C2F33;
	margin: 0 auto;
	max-width: 45em;
	padding: 0 .62em;
	font: 1.2em/1.62em sans-serif
}

h1, h2 {
	margin-top: 0;
	margin: 0 auto;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-vertical {
	display: flex;
	flex-direction: column;
}

.main {
	height: 100%;
}

img {
	width: 50%;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

p {
	margin: 0 auto;
}

.screenshot {
	width: 75%;
	cursor: inherit;
	margin-top: 1em;
}